<div class="container border rounded-lg relative p-4 m-6  bg-white">
    <h2 class="text-sm font-semibold text-gray-800 mb-4">General</h2>
  
    <div class="flex items-center justify-between border-t pt-4">
      <!-- Cambiar Contraseña -->
      <div class="flex items-center space-x-4">
        <span class="text-sm font-medium text-gray-700">Cambiar Contraseña</span>
        <button
          class="px-3 py-1 text-sm text-blue-500 border border-blue-400 rounded-md hover:bg-blue-50 transition duration-300"
        >
          Cambiar
        </button>
      </div>
  
      <div class="flex items-center space-x-4">
        <span class="text-sm font-medium text-gray-700">Notificaciones</span>
        <label class="flex items-center cursor-pointer">
          <span class="mr-2 text-sm text-gray-500">Activar Notificaciones</span>
          <input type="checkbox" class="sr-only peer" />
          <div
            class="w-10 h-5 bg-gray-300 rounded-full peer-checked:bg-blue-500 transition duration-300 relative"
          >
            <div
              class="w-4 h-4 bg-white rounded-full absolute left-1 top-0.5 transition-transform duration-300 peer-checked:translate-x-5"
            ></div>
          </div>
        </label>
      </div>
    </div>
  </div>
  