<div class="p-2 rounded-md flex items-center justify-between hover:bg-[#F6F6F6]">
    <div class="fecha bg-[#EEF5DF] px-6 py-2 rounded-md">
        <p>&nbsp;V</p>
        <p class="text-[20px]">14</p>
    </div>
    <div>
        <p class="font-semibold text-gray-800">Dr. Ashton Cleve</p>
        <p class="text-sm text-gray-600">10:00 - 10:30</p>
    </div>
    <button>
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
    </button>
</div>