.card {
  background: #fff;
  border: 1.5px solid #e1e1e1;
  border-radius: 12px;
  width: 270px;
  height: 160px;
}
.cont-img{
  width: 85px;
}
.cont-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.top {
  display: flex;
  width: 100%;
  border-bottom:1.5px solid #e1e1e1;
  padding-bottom: 6px;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 13px;

}
.card-content h4 {
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}

.card-content p {
  margin: 5px 0 15px;
  font-size: 15px;
  color: #666;
}

.card-content .location {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 14px;
  color: #666;
}
.text-location{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

}
.card-content .location svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: #666;
}
.kilometros {
  margin-bottom: 5px;
}


