<div class="cont-baner">
    <div class="rigth">
        <h2>No need to visit local hospitals Get your consultation online</h2>
        <p>Audio/text/video/in-person</p>
        <div class="online-doctors">
            <div class="img-group">
                <div class="doc-1">
                    <img src="img/Doctor_group_1.png" alt="doctor-1">
                </div>
                <div class="doc-2">
                    <img src="img/Doctor_group_2.png" alt="doctor-1">
                </div>
                <div class="doc-3">
                    <img src="img/Doctor_group_3.png" alt="doctor-1">
                </div>
                <div class="text">+180 doctors are online</div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="doctores">
            <img src="img/Doctores_baner.png" alt="">
        </div>
    </div>
    <app-find-nav />
</div>
