<div class="cont-baner">
    <div class="rigth">
        <h2>No need to visit local hospitals Get your consultation online</h2>
        <p>Audio/text/video/in-person</p>
        <div class="online-doctors">
            <div class="img-group">
                <div class="doc-1">
                    <img src="img/Doctor_group_1.png" alt="doctor-1">
                </div>
                <div class="doc-2">
                    <img src="img/Doctor_group_2.png" alt="doctor-1">
                </div>
                <div class="doc-3">
                    <img src="img/Doctor_group_3.png" alt="doctor-1">
                </div>
                <div class="text">+180 doctors are online</div>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="doctores">
            <img src="img/Doctores_baner.png" alt="">
        </div>
    </div>
    <div class="find-nav">
        <div class="find-doctors">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 15l6 6m-11-4a7 7 0 1 1 0-14a7 7 0 0 1 0 14"/>
            </svg>
            <input placeholder="Find doctors" type="text">
        </div>
        <div class="separator"></div>
        <div class="location">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 12q.825 0 1.413-.587T14 10t-.587-1.412T12 8t-1.412.588T10 10t.588 1.413T12 12m0 7.35q3.05-2.8 4.525-5.087T18 10.2q0-2.725-1.737-4.462T12 4T7.738 5.738T6 10.2q0 1.775 1.475 4.063T12 19.35M12 22q-4.025-3.425-6.012-6.362T4 10.2q0-3.75 2.413-5.975T12 2t5.588 2.225T20 10.2q0 2.5-1.987 5.438T12 22m0-12"/>
            </svg>
            <input placeholder="Location" type="text">
        </div>
        <button class="search-button">Buscar</button>
    </div>
</div>
