.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: solid 1.5px #e1e1e1;
}

.title {
    display: flex;
    margin-left: 15px;
}

h1 {
    color: #3B9AB8;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 600;
    font-size: 25px;
}

.boton-registro {
    background-color: #3B9AB8;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-right: 35px;
    width: 210px;
    
}

.boton-registro:hover {
    background-color: #096c8a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.link-login {
    text-decoration: none;
    color: #3B9AB8;
    margin-right: 30px;
    transition: color 0.2s ease;
}

.link-login:hover {
    color: #096c8a;
}