
.card {
  min-width: 310px;
}

.specialization {
  display: inline-block;
  width: fit-content;
  background-color: #ebfffa;
  color: #209abf;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 13px;
  margin-top: 5px;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}
