* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.contenido {
    padding:0 10% ;
}
.cont-info-doctors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
