* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.titulos {
    font-size: 27px;
    margin: 25px 0;
}
.contenido {
    padding:0 10% ;
}
.cont-info-doctors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
app-info-doctor {
    width: 32%;
}

app-nearby-doctors {
    width: 32%;
}