* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.contenido {
    padding:0 150px ;
}
.cont-info-doctors {
    display: flex;
    justify-content: space-between;
}
