<!-- <app-login />
<app-registro /> -->
<router-outlet>

</router-outlet>
<app-nav-before-login />

<div class="contenido">
  <app-baner />

  <br>
  
  <h3 class="titulos">Doctores Recomendados</h3>
  <div class="cont-info-doctors">
    
    <app-info-doctor />
    <app-info-doctor />
    <app-info-doctor />

  </div>
  
  <br>

  <h3 class="titulos">Doctores Cercanos a ti</h3>
  @if (isNerbyDoctorsAvailable) {
    <div class="cont-info-doctors">
      <app-nearby-doctors />
      <app-nearby-doctors />
      <app-nearby-doctors />
    </div>
  } @else {
    <app-nearby-doctors-disabled (habilitarNerbyDoctors)="cambiarEstado()" />
  }

</div>