<div class="container mx-auto p-4 bg-white rounded-lg max-w-[900px]">
  <div class="text-[27px] font-semibold mb-8">Selecciona fecha y hora</div>
  <div class="mb-6">
    <div class="flex justify-between items-center mb-4">
      <button (click)="previousMonth()" class="text-gray-600 hover:text-blue-600 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <h2 class="text-xl font-semibold text-gray-800">{{ getCurrentMonthYear() }}</h2>
      <button (click)="nextMonth()" class="text-gray-600 hover:text-blue-600 transition-colors">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
    <div class="grid grid-cols-7 gap-1 mb-2">
      <div *ngFor="let day of weekDays" class="text-center text-sm text-gray-600 font-medium py-2">{{ day }}</div>
    </div>
    <div class="grid grid-cols-7 gap-1">
      <div *ngFor="let date of calendarDays"
           [class]="'p-2 text-center cursor-pointer transition-all duration-200 rounded-full ' +
                    (isCurrentDate(date) ? 'bg-blue-500 text-white hover:bg-blue-600' :
                     isSelectedDate(date) ? 'bg-blue-100 text-blue-800 hover:bg-blue-200' :
                     (date.getDay() === 0 || date.getDay() === 6) ? 'text-gray-400 cursor-not-allowed' :
                     'hover:bg-gray-100')"
           (click)="selectDate(date)">
        {{ date.getDate() }}
      </div>
    </div>
  </div>

  <div class="mb-8" *ngIf="selectedDate">
    <h3 class="text-2xl font-bold text-gray-800 mb-2">{{ getSelectedWeekday() | titlecase }}</h3>
    <p class="text-lg text-gray-600">{{ getSelectedDateFormatted() }}</p>
  </div>

  <div class="relative">
    <div class="flex flex-wrap gap-1 overflow-x-auto pb-5 scrollbar-hide">
      <div *ngFor="let time of timeSlots"
           [class]="'flex-shrink-0 mx-[1px] px-9 py-2 mt-1 w-[115px] border-2 border-blue-500 rounded-lg cursor-pointer transition-all duration-200 ' +
                    (isSelectedTime(time) ? 'bg-blue-500 text-white' : 'bg-white hover:bg-gray-200')"
           (click)="selectTime(time)">
        {{ time | date:'HH:mm' }}
      </div>
    </div>
  </div>

  <div *ngIf="selectedTime" class="mt-6 p-4 bg-blue-50 rounded-lg">
    <p class="text-blue-800 font-medium">Fecha y Hora seleccionada:</p>
    <p class="text-gray-700">{{ getSelectedDateTimeFormatted() }}</p>
  </div>

</div>
