
  .info-doctor {
    width: 32%;
  }


@media (max-width: 640px) {
  .info-doctor {
    min-width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 1220px) {
  .info-doctor {
    width: 48%;
  }
}