<div class="flex items-center p-3 border-b border-gray-200 hover:bg-gray-100">
    <div class="relative">
      <img src="img/Doctor_group_1.png" alt="Imagen" class="w-12 h-12 rounded-full object-cover">
      <!-- <div *ngIf="cantidad > 0"
        class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full">
        15
      </div> -->
    </div>
  
    <div class="ml-3 flex-1">
      <h4 class="text-sm font-semibold text-gray-900">Dr.</h4>
      <p class="text-xs text-gray-600">Cita</p>
    </div>
  
    <span class="text-xs text-gray-500">Hora</span>
  </div>
  